.btn {
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  color: var(--white);
  border: none;
  padding: 12px 48px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.btn-icon {
  color: #cecece;
}
