.work {
  min-height: 100vh;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: "hidden";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 2rem;
}

.work-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.644);
}

.work-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  max-width: 1500px;
  padding: 0 6rem;
  color: var(--white);
  margin: 0 auto;
  font-family: Helvetica Neue LT Bold, Helvetica, Arial, sans-serif;
  margin-right: 250px;
}

.work-cont {
  display: grid;
  gap: 16px;
}

.work-cont > h2 {
  font-size: 40px;
  line-height: 20px;
  font-weight: 200;
  margin-bottom: 1rem;
  color: var(--white);
}

.work-cont > h1 {
  color: var(--white);
  font-weight: bold;
  font-size: 55px;
  line-height: 55px;
}

.work-cont .para {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.work-cont .para > p {
  font-size: 18px;
}

.work-cont .button-container {
  display: flex;
  gap: 24px;
}

.work-cont .button-container > a {
  color: var(--white);
  font-size: 14px;
}

@media screen and (max-width: 1112px) {
  .work-content {
    margin-right: 100px;
  }

  .work-cont {
    display: grid;
    gap: 12px;
  }

  .work-cont > h2 {
    font-size: 32px;
    line-height: 20px;
    font-weight: 200;
    margin-bottom: 1rem;
    color: var(--white);
  }

  .work-cont > h1 {
    color: var(--white);
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
  }

  .work-cont .para {
    display: grid;
    grid-template-columns: 1fr 0fr;
  }

  .work-cont .para > p {
    font-size: 18px;
  }

  .work-cont .button-container {
    display: flex;
    gap: 24px;
  }

  .work-cont .button-container > a {
    color: var(--white);
  }
}

@media screen and (max-width: 818px) {
  .work-content {
    margin-right: 0;
    padding: 0 2rem;
  }

  .work-cont > h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 681px) {
  .work-content {
    height: 100%;
    padding: 0;
    padding-top: 150px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 425px) {
  .work-cont > h2 {
    font-size: 30px;
  }

  .work-cont > h1 {
    font-size: 30px;
    line-height: 36px;
  }

  .work-cont .para > p {
    font-size: 16px;
    line-height: 24px;
  }

  .work-cont .button-container {
    flex-direction: column;
    gap: 5px;
  }

  .work {
    padding: 0 1rem;
  }
}

.work-body,
.read-full-story {
  padding: 0 2rem;
  margin-bottom: 50px;
}

.work-body .work-body-content,
.read-full-story-content {
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 30px;
  display: grid;
  gap: 10px;
}

.work-body-content .row-1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
}

.row-1 > a,
.row-2 > a {
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row-2 {
  display: grid;
  gap: 10px;
}

.section-text {
  background-color: var(--readmore);
  padding-top: 100px;
  padding-bottom: 100px;
  display: block;
  position: relative;
  margin: 0;
}

.section-text-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  padding-left: 90px;
  padding-right: 90px;
  gap: 50px;
}

.section-text-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 50%;
}

.section-text-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.article-close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.article-close-btn button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.article-close-btn button > img {
  width: 20px;
  height: 20px;
}

.section-button-content {
  margin-top: 40px;
}

.section-button-content button {
  margin-top: 20px;
}

@media screen and (max-width: 780px) {
  .section-text-row {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .work-body-content .row-1 {
    grid-template-columns: 1fr;
  }

  .section-text {
    background-color: var(--readmore);
    padding-top: 100px;
    padding-bottom: 100px;
    display: block;
    position: relative;
    margin: 0;
  }

  .section-text-row {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 768px) {
  .work-body,
  .read-full-story {
    padding: 0 1rem;
  }
}

.find-out-more {
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.find-out-more > h1 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
}

.explore-more {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 100px;
}

.explore-more-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.explore-more-content > a {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
  text-decoration: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.explore-more-content > a:hover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.04);
  transform: scale(1.02);
}

.explore-more-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 578px) {
  .find-out-more {
    padding-left: 20px;
    padding-right: 20px;
  }

  .explore-more {
    padding-left: 20px;
    padding-right: 20px;
  }
  .explore-more-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
}
