.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}

@media screen and (max-width: 1284px) {
  .footer-wrap {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer-menus,
.social-medias {
  display: flex;
  gap: 0.8rem;
}

@media screen and (max-width: 425px) {
  .footer-menus,
  .social-medias {
    flex-direction: column;
  }
}

.copywright {
  font-size: 14px;
  font-weight: 300;
}
